body
{
background-color: #4F924A;
font-family: "Times New Roman", Times, serif;
font-size: 1em;
}
#for_logo
{
margin: 2px 37% 0px 43%;
width: 20%;
}
p
{
background-color: white;
}
h1
{
text-align: center;
}
h2
{
text-align: center;
}
#right
{
position: absolute;
right: 5%;
width: 40%;
height: 55em;
}
#left
{
position: absolute;
left: 5%;
width: 40%;
height: 55em;
}
#wiai /*what is artificial intelligence*/
{
position: absolute;
left: 5%;
width: 30%;
height: 55em;
background-color: white;
color: black;

}
#intro
{
position: absolute;
width: 25%;
height: 55em; 
right: 5%;
background-color: white;
color: black;

}
#images
{
position: absolute;
left: 36%;
right: 31%;
}
.images_index
{
max-width:100%;
height:auto;
}

figcaption
{
font-size: 0.8em;
}
/*
p.link
{
text-align: center;
}
*/
a
{
background-color: orange;
color: black;
}
#wis
{
width: 50%;
margin: auto;
background-color: white;
}
table, td
{
border: 2px solid black;
text-align: left;
}
#first td
{
font-weight: bold;
text-align: center;
}
.year
{
text-align: center;
}
table
{
width: 100%;
}


