body
{
background-color: lawngreen;
}
h1
{
text-align: center;
}
h2
{
text-align: center;
}
p
{
margin: 5px 200px 5px 200px;
}
p.intro
{
margin: 1% 30% 1% 30%;
color: darkslategray;
}
p.link
{
text-align: center;
}
blockquote
{

color: white;
}
a
{
background-color: orange;
color: black;
}
