body
{
background-color: lawngreen;
font-family: "Times New Roman", Times, serif;
font-size: 16px
}
h1
{
text-align: center;
}
h2
{
text-align: center;
}
p
{
margin: 5px 200px 5px 200px;
}
p.intro
{
width: 30%;
margin: auto;
color: darkslategray;
}
p.link
{
text-align: center;
}
blockquote
{

color: white;
}
a
{
background-color: orange;
color: black;
}
.sug
{
position: absolute;
bottom: 5px;
right: 0;
font-family: sans-serif;
}


